.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #050506;
}
